﻿#btnDownloadSource {
    margin: 20px auto 20px auto;
    width: 200px;
    height: 30px;
    display: block;
}

#pieCategories {
    margin-left: auto;
    margin-right: auto;
}

.discontinued {
    color: black;
    background-color: lightgray;
}

.full-width{
    width: 100%;
}