﻿<!DOCTYPE html>
<html>
<head>
    <title>BGO</title>
    <link href="//cdn.takerman.net/images/bgo/favicon.png" rel="icon" type="image/x-icon" />
    <link rel="stylesheet" href="//kendo.cdn.telerik.com/2016.1.412/styles/kendo.common.min.css" />
    <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" />
    <link rel="stylesheet" href="//kendo.cdn.telerik.com/2016.1.412/styles/kendo.blueopal.min.css">
    <link href="~/css/site.css" rel="stylesheet" />
</head>
<body>
    <article class="container content">
        <div class="row">
            <hgroup>
                <h1 class="text-center">
                    <span>BGO Exam</span>
                </h1>
            </hgroup>
        </div>

        <div class="row">
            <div id="pieCategories"></div>
        </div>

        <div class="row">
            <div>
                <input id="ddlCategories" class="full-width"/>
            </div>
            <div id="gridProducts"></div>
        </div>

        <div class="row">
            <button class="btn btn-default" id="btnDownloadSource">DOWNLOAD SOURCE</button>
        </div>
    </article>

    <script src="//kendo.cdn.telerik.com/2016.1.412/js/jquery.min.js"></script>
    <script src="//maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"></script>
    <script src="//kendo.cdn.telerik.com/2016.1.412/js/kendo.all.min.js"></script>
    <script src="~/js/dataSource.js"></script>
    <script src="~/js/common.js"></script>
</body>
</html>